<section class="prose">
  <p>
    Hi, I'm Varant, a software engineer. This is my personal blog where I'll be sharing my thoughts and experiences.
  </p>
  <p>
    Welcome to Barebones, an open source template for <a
      href="https://astro.build/">Astro</a
    > designed for simplicity and flexibility. Whether you're a seasoned developer
    or just starting out, Barebones provides everything you need to kickstart your
    next blog with minimal setup.
  </p>
  <p>
    Head over to the <a href="https://github.com/superwebthemes/barebones"
      >repository</a
    > and check out our <a href="https://docs.superwebthemes.com"
      >documentation</a
    > to get started.
  </p>
</section>
